html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body,
html {
    font-family: Helvetica Neue, Helvetica, Arial, 文泉驛正黑, WenQuanYi Zen Hei, Hiragino Sans GB, 儷黑 Pro, LiHei Pro, Heiti TC, 微軟正黑體, Microsoft JhengHei UI, Microsoft JhengHei, sans-serif;
    color: rgba(0, 0, 0, .8);
    line-height: 1.2;
    background-color: grey;
}

#main {
    background-color: grey;
}

.shopee-top--sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 100;
}

.shopee-top--sticky .navbar.container {
    width: inherit;
    max-width: 1200px;
}

.shopee-top {
    background: #f53d2d;
    background: -webkit-gradient(linear, left top, left bottom, from(#f53d2d), to(#f63));
    background: linear-gradient( -180deg, #f53d2d, #f63);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.4, 0, .2, 1);
    transition: -webkit-transform .2s cubic-bezier(.4, 0, .2, 1);
    transition: transform .2s cubic-bezier(.4, 0, .2, 1);
    transition: transform .2s cubic-bezier(.4, 0, .2, 1), -webkit-transform .2s cubic-bezier(.4, 0, .2, 1);
}

.navbar-wrapper {
    height: 2.125rem;
    z-index: 400;
    background: transparent;
    position: relative;
}

.container-wrapper {
    min-width: 1200px;
}

.container {
    width: 1200px;
}

.navbar {
    color: #fff;
}

.header__socicon {
    color: white;
    padding: 0 6px;
    font-size: 1rem;
}

.navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-with-search-wrapper {
    background-color: #fff;
    box-shadow: 0 0.0625rem 0.15625rem rgb(0 0 0 / 5%);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 300;
}

.header-with-search-wrapper {
    background: transparent;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
}

.shopee-top--sticky .header-with-search-wrapper.container-wrapper {
    min-width: inherit;
}

.header-with-search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 5.3125rem;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 0 .625rem;
}

.header-with-search,
.header-with-search__cart-wrapper,
.header-with-search__logo-section {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.shopee-top--sticky .header-with-search.container {
    width: inherit;
    max-width: 1200px;
}

.center,
.v-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex,
.h-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.center,
.v-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

._1UIe83 {
    color: #fff;
    text-decoration: none;
    font-size: .8125rem;
    font-weight: 300;
    padding: 0 .4375rem;
    border-right: 2px solid hsla(0, 0%, 100%, .22);
}

.shopee-drawer {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

._3oYjGi {
    border: 0;
}

._1-wRx7,
._3oYjGi {
    padding-right: 0;
}

.flex,
.h-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

._1UIe83:last-child {
    border: 0;
}

._1-wRx7,
._3oYjGi {
    padding-right: 0;
}

._1A6Wy3 .-ccs8e,
._1A6Wy3 ._2gCt8j,
._1A6Wy3 ._2wX_p9 {
    width: 16px;
    height: 16px;
}

._1A6Wy3 .-ccs8e,
._1A6Wy3 ._1CRN-e,
._1A6Wy3 ._2eJpIr,
._1A6Wy3 ._2gCt8j,
._1A6Wy3 ._2wX_p9,
._1A6Wy3 ._3Hnyn4,
._1A6Wy3 .DCV0uR {
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    margin-right: 10px;
}

.pjy1mut-ic_facebook-2x-png {
    width: 32px;
    height: 32px;
    background-size: 562.5% 356.25%;
    background-position: 64.86486486486487% 12.195121951219512%;
}

.pjy1mut-background {
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/e7fba41….png);
}

.navbar__spacer {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.navbar__link,
.navbar__links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar__links {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.navbar-wrapper .navbar__link {
    cursor: pointer;
}

.navbar__link--notification,
.navbar__link--separator {
    padding: 0;
}

.navbar__link--tappable {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar__link {
    position: relative;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 .625rem;
}

.navbar__link,
.navbar__links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar__link {
    color: currentColor;
}

.navbar__links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.stardust-popover {
    position: relative;
}