.txt--strong {
    font-weight: 400;
}

.txt--blur {
    opacity: 0.6;
}

.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.navbar__list {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 4px;
    margin-bottom: 0px;
}

.navbar__item {
    display: inline-block;
    margin: 0px 8px;
    min-height: 26px;
}

.navbar__label {
    cursor: text;
    color: var(--white-color);
}

.navbar__item,
.navbar__link {
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.navbar__item,
.navbar__link,
.navbar__icon-link {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.navbar__icon:hover,
.navbar__item:hover,
.navbar__link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.navbar__icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.navbar__icon {
    font-size: 1.8rem;
    margin: 0 4px;
}


/* Header QR code */

.qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 100%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

.qr__img {
    width: 100%;
}

.qr__apps {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.qr__app {
    height: 15px;
}

.navbar__has-qr:hover .qr {
    display: block;
}


/* header notification */

.notif {
    position: absolute;
    top: 100%;
    right: 0px;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
}

.notif__head {
    height: 40px;
    background-color: var(--white-color);
}

.notif__head h3 {
    color: #666;
    margin: 10px 12px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 100%;
}

.notif__list {
    padding-left: 0px;
}

.notif__item--viewed {
    background-color: rgba(238, 77, 45, 0.09);
}

.notif__item:hover {
    background-color: rgba(241, 241, 241, 0.5);
}

.notif__item {
    /* display: flex; */
}

.notif__link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.notif__img {
    width: 48px;
    object-fit: contain;
}

.notif__info {
    margin-left: 12px;
}

.notif__info-name {
    display: block;
    font-size: 14px;
    color: black;
    font-weight: 500;
    padding: 4px 0px;
}

.notif__info-desc {
    display: block;
    font-size: 12px;
    color: #666;
    padding: 4px 0px;
}

.notif__footer {
    text-decoration: none;
    text-align: center;
    color: var(--text-color);
    padding: 8px 16px;
}